body{
  display:grid;
  place-content:center;
  background:var(--gradient-23);
}

.card-container{
  display:flex;
  align-items:start;
  flex-wrap:wrap;
  justify-content:center;
  gap:var(--size-fluid-4);
  margin: var(--size-fluid-4);
  max-width:1500px;
  
}

.card{
  flex:0 1 var(--size-15);
  box-shadow:var(--shadow-6);
  border-radius:var(--radius-drawn-5);
  font-family: var(--font-monospace-code);
  font-size: var(--font-size-fluid-1);
  padding:var(--size-fluid-3);
  background:var(--gradient-29);
}

h2{
  font-size: var(--font-size-fluid-5);
}

p{
  font-size: var(--font-size-fluid-0);
}